@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemon&display=swap');

:root{

--laranja-claro: #3f2aff;
}

body{

    font-size: 1rem;
    font-family: 'Montserrat';
    
}

header{

    background-color: rgb(255, 255, 255);
}

section{

    padding-bottom: 5rem;
}